<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205848443918-fgheqsf7gumfjnglr22rcdatv9ha7jvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205848443918-fgheqsf7gumfjnglr22rcdatv9ha7jvh</string>
	<key>API_KEY</key>
	<string>AIzaSyCjZDMYVFDdxc9V1ZphjrMktN6RjjTyjeY</string>
	<key>GCM_SENDER_ID</key>
	<string>205848443918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anepodymka.AuthorisationAppWithPublickAPI</string>
	<key>PROJECT_ID</key>
	<string>authorisationappwithpublickapi</string>
	<key>STORAGE_BUCKET</key>
	<string>authorisationappwithpublickapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205848443918:ios:9b228d067dbe0c53ba105f</string>
</dict>
</plist>